<div *ngIf = "!err[6]; else errinfo">
  <div *ngIf = "flag[6]; else probar">
    <div [chart]="chart" ></div>
    </div>
</div>
<ng-template #probar>
    <div class="progress" style="margin:40% auto;">
      <div class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuenow="50" aria-valuemin="50"
        aria-valuemax="100" style="width: 50%"></div>
    </div>
  </ng-template>

  <ng-template #errinfo>
    <div class="alert alert-danger" role="alert">
      Error! Falied to get Stoch data.
     </div>
  </ng-template>
